extends layout

block content
  #map
  .block.shadow-lg.bg-white.p-2.absolute.rounded-lg(class="top-2.5 right-2.5")
    form#isochrone-form(method="post")
      button#fetch-points.btn.btn-default.w-full.mb-2(
        data-mdb-ripple="true",
        data-mdb-ripple-color="dark",
        onClick="addPoints()",
        type="button"
      ) #{ __('loadPoints') }
      .grid.grid-cols-2.gap-4
        .form-group.mb-2
          label.form-label.inline-block.mb-2.text-gray-700(
            for="input-time-limit"
          ) #{ __('maxWalkingTime') }
          input#input-time-limit(
            placeholder=__("maxWalkingTime"),
            type="number",
            min=1,
            step=1,
            value=10,
            name="time_limit",
            onchange="createLegend();"
          )
          .text-xs.text-gray-500.mt-1 #{ __('inMinutes') }
        .form-group.mb-2
          label.form-label.inline-block.mb-2.text-gray-700(for="input-buckets") #{ __('intervals') }
          input#input-buckets(
            placeholder=__("intervals"),
            type="number",
            min=1,
            max=11,
            step=1,
            value=5,
            name="buckets",
            onchange="createLegend();"
          )
          .text-xs.text-gray-500.mt-1= "min 1, max 11"
      button#calculate-isochrones.btn.btn-default.w-full.mb-2(
        data-mdb-ripple="true",
        data-mdb-ripple-color="dark",
        type="submit",
        disabled
      ) #{ __('calculateReachability') }
      button#reset.btn.btn-danger.w-full(
        data-mdb-ripple="true",
        data-mdb-ripple-color="dark",
        type="button"
      ) #{ __('reset') }
    .p-5
      h4 #{ __('reachabilityPreview') }
      #legend
        div.
          #[span.rounded-full.inline-block(class="h-2.5 mr-1.5 w-2.5", style="background-color: #4dac26")] 2 min
        div.
          #[span.rounded-full.inline-block(class="h-2.5 mr-1.5 w-2.5", style="background-color: #b8e186")] 4 min
        div.
          #[span.rounded-full.inline-block(class="h-2.5 mr-1.5 w-2.5", style="background-color: #f7f7f7")] 6 min
        div.
          #[span.rounded-full.inline-block(class="h-2.5 mr-1.5 w-2.5", style="background-color: #f1b6da")] 8 min
        div.
          #[span.rounded-full.inline-block(class="h-2.5 mr-1.5 w-2.5", style="background-color: #d01c8b")] 10 min
  script(type="text/javascript").
    const map = new maplibregl.Map({
      container: "map",
      style: "#{ STYLE_URL }",
      center: [13.0, 52.5],
      zoom: 10,
    });
    window.map = map;
    window.STATIC_BASE = "#{ STATIC_BASE }";
  script(src=STATIC_BASE + "/javascripts/main.js")
