doctype html
html(lang=locale)
  head
    base(href=BASE)
    meta(charset="utf-8")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    title #{ __('title') }
    script(src=STATIC_BASE + "/javascripts/turf-build.js")
    script(src=STATIC_BASE + "/javascripts/colors.js")
    script(src=STATIC_BASE + "/javascripts/functions.js")
    script(src="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js")
    link(
      href="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css",
      rel="stylesheet"
    )
    link(rel="stylesheet", href=STATIC_BASE + "/stylesheets/style.css")
    if PROD
      <script async defer data-website-id="59e2e93a-9a05-4d4c-b671-33eaec1b46f7" src="https://analytics.chringel.dev/umami.js"></script>
  body
    block content
